/* GENERICS */
img {
    max-width: 100%;
}

.h1 {
    font-size: calc(1.8rem + 1.6vw);
}

.btn {
    font-size: 0.9rem;
    font-weight: 600;
}

header .btn:hover {
    background-color: #212529;
    box-shadow: inset 0px 0px 0px 2px white;
    border: 1px solid black;
}

.btn-primary:hover {
    box-shadow: inset 0px 0px 0px 2px white;
    border: 1px solid #0d6efd;
}

.btn-red {
    color: white;
    background-color: #cd3d0f;

}

.btn-red:hover {
    background-color: #cd3d0f;
    box-shadow: inset 0px 0px 0px 2px black;
    border: 1px solid #cd3d0f;
}

.btn-subscription-1 {
    background-color: #d9dadc;
}

.btn-subscription-1:hover {
    box-shadow: 0px 0px 0px 2px #d9dadc;
    /* border: 1px solid #d9dadc; */
    background-color: #d9dadc;
}

.btn-subscription-2:hover {
    background-color: white;
    box-shadow: inset 0px 0px 0px 2px black;
    border: 1px solid white;
}

.fs-7 {
    font-size: 0.9rem;
}

.fs-8 {
    font-size: 0.8rem;
}

.list-custom {
    list-style: none;
    margin: 0;
    padding: 0;
    column-gap: 1rem;
}

.list-custom a {
    text-decoration: none;

}


.list-custom li::before {
    content: "\2022";
    color: #0070d1;
    display: inline-block;
    width: 1rem;
}

.dropdown-custom .dropdown-item:hover {
    background-color: white;
}

/* HEADER */
#header-top {
    background-color: black;
    height: 25px;
}

#header-main a {
    color: #212529;
    font-weight: 600;
}

.dropdown-custom {
    border: 0;
    border-radius: 0;
    margin-top: 0 !important;
}


/* MAIN */
main {
    padding-top: 101px;
}

.jumbotron-main .container,
.jumbotron-main .row {
    height: 100%;
}

.jumbotron-main {
    height: 75vh;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

.jumbotron-carousel img {
    position: relative;
    transition: transform .3s linear;
}

.jumbotron-carousel img:hover {
    transform: translateY(-10px);
}

.main-carousel img:not(.selected) {
    opacity: 0.7;
}

.main-carousel img:hover {
    opacity: 1;
    transition: .4s ease;
}

.games-jumbotron {
    /* height: 60vh; */
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

#first-subscription {
    background-color: #bebcbb;
}

#second-subscription {
    background-color: #161c3b;
}

/* FOOTER */
#footer-main {
    background-color: #00439c;
}

#ps-footer-logo {
    width: 20%;
}

#footer-main #sie-logo {
    width: 180px;
}

#footer-main ul li a {
    color: white;
    text-decoration: none;
}