/* GENERICS */
img {
    max-width: 100%;
}

.h1 {
    font-size: calc(2rem + 1.6vw);
}

.btn-red {
    color: white;
    background-color: #cd3d0f;
}

/* HEADER */
#header-top {
    background-color: black;
    height: 25px;
}

#header-main a {
    color: #212529;
    font-weight: 600;
}

/* MAIN */
main {
    padding-top: 100px;
}

#jumbotron {
    /* background-color: black; */
}

.jumbotron-main {
    height: 75vh;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

.main-carousel img:not(.selected) {
    opacity: 0.7;
}

.games-jumbotron {
    /* height: 60vh; */
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

#first-subscription {
    background-color: #bebcbb;
}

#second-subscription {
    background-color: #161c3b;
}

/* FOOTER */
#footer-main {
    background-color: #00439c;
}

#footer-main #sie-logo {
    width: 180px;
}

#footer-main ul li a {
    color: white;
    text-decoration: none;
}