/* GENERICS */
img {
    max-width: 100%;
}

/* HEADER */
#header-top {
    background-color: black;
    height: 25px;
}

/* MAIN */
main {
    padding-top: 100px;
}

#jumbotron {
    /* background-color: black; */
}

.jumbotron-main {
    height: 75vh;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

.main-carousel img:not(.selected) {
    opacity: 0.7;
}

.games-jumbotron {
    /* height: 60vh; */
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

#first-subscription {
    background-color: #bebcbb;
}


/* FOOTER */